
body {
		
}

.bespoke-parent {
	overflow: hidden;
	height: 600px;
}

#bespoke_main {
	width: 100%;
	height: 600px;
}

#bespokeContents {
	margin: 0 auto;
	width: 100%;
	height:600px;
}

#rookieButtons {
	text-align : center ;
}

.rookieButton {
	background-color:transparent;
	border:none;
	margin:30px 50px;
	padding: 0;
}

.rookieButtonImage {
	width: 200px;
	height: 200px;
}

.bespoke_caption {
	position:absolute;
	background:#666;
	padding:20px;
	left:0;
	width:512px;
}
.bespoke_caption p {
	color:#FFF;
	margin:0 10px 10px 10px;
	font-size:20px;

	text-align:left;
}
@media
(-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
	h1 {
		text-shadow: none;
	}
}

article {
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	-ms-perspective: 600px;
	-o-perspective: 600px;
	perspective: 600px;
}

section {
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
	/*background: #c0c0c0;*/
	border-radius: 30px;
	width: 512px;
	height: 380px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -256px;
	margin-top: -220px;
	opacity: 0;
}
#bespoke_main,
section.bespoke-slide {
	-webkit-transition: -webkit-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-moz-transition: -moz-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-ms-transition: -ms-transform .7s ease, opacity .7s ease, background-color .7s ease;
	-o-transition: -o-transform .7s ease, opacity .7s ease, background-color .7s ease;
	transition: transform .7s ease, opacity .7s ease, background-color .7s ease;
}
section.bespoke-active {
	opacity: 1;
	z-index: 1;
}

@media only screen and (max-width: 768px) {
	#bespoke_main {
		font-size: 10px;
	}

	h1 {
		margin-top: -95px;
	}

	h2 {
		font-size: 14px;
		margin-top: 22px;
	}

	#forkme a {
		font-size: 11px;
		padding: 0.7em;
	}

	section {
		margin-top: -216px;
	}

	a,
	.arrow {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	#bespoke_main,
	section.bespoke-slide {
		-webkit-transition: -webkit-transform .7s ease, opacity .7s ease;
		-moz-transition: -moz-transform .7s ease, opacity .7s ease;
		-ms-transition: -ms-transform .7s ease, opacity .7s ease;
		-o-transition: -o-transform .7s ease, opacity .7s ease;
		transition: transform .7s ease, opacity .7s ease;
	}
}

@media only screen and (max-width: 570px) {

	#forkme {
		right: -78px;
		top: 32px;
	}

	#forkme a {
		font-size: 9px;
	}

	h1 {
		-webkit-transform: scale(0.27);
		-moz-transform: scale(0.27);
		-ms-transform: scale(0.27);
		-o-transform: scale(0.27);
		transform: scale(0.27);
		margin-top: -94px;
	}

	h2 {
		font-size: 12px;
		margin-top: -7px;
	}

	article {
		-webkit-transform: scale(0.5) translateY(-27px);
		-moz-transform: scale(0.5) translateY(-27px);
		-ms-transform: scale(0.5) translateY(-27px);
		-o-transform: scale(0.5) translateY(-27px);
		transform: scale(0.5) translateY(-27px);
	}
}