@charset "utf-8";
/* CSS Document */
.topContents {
	
}

.topContents_accordion {
	overflow:hidden;
	display:block;
	position:relative;
	display:inline-block;
}
.topContents_slide {
	display:block;
	-moz-box-shadow: -5px 0px 5px rgba(1, 1, 1, 0.3);
	-webkit-box-shadow: -5px 0px 5px rgba(1, 1, 1, 0.3);
	box-shadow: -5px 0px 5px rgba(1, 1, 1, 0.3);
	position:absolute;
	cursor: pointer;
	float:left;
	display: inline-block;

}
.topContents_slide img {
	
}
.topContents_caption {
	position:absolute;
	background:rgba(1, 1, 1, 0.4);
	left:0;
	width:100%;
}
.topContents_caption p {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:12px;
	line-height:1.6;
}
